* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 200px;
}

header {
    text-align: center;
    padding: 10px;
    background-color: darkgrey;
    position: sticky;
    top: 0;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 40px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

button:hover {
    background-color: darkgreen;
}

form > * {
    margin-bottom: 15px;
}

.consulta-leiloes > *, .notificacoes-leiloes > * {
    margin-bottom: 15px;
}

.meio-a-meio {
    display: flex;
    justify-content: space-between;
}
.meio1, .meio2 {
    width: 48%;
}

.leilao-item, .leilao-item-fin, .leilao-item-ativo, .leilao-item-agend,
.lance_validado_notif, .lance_invalidado_notif, .leilao_vencedor_notif,
.link_pagamento_notif, .status_pagamento_notif {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
}

.leilao-item-fin {
    background-color: lightgray;
}
.leilao-item-ativo {
    background-color: lightgreen;
}
.leilao-item-agend {
    background-color: lightblue;
}
.lance_validado_notif {
    background-color: lightgreen;
}
.lance_invalidado_notif {
    background-color: lightcoral;
}
.leilao_vencedor_notif {
    background-color: lightblue;
}
.link_pagamento_notif {
    background-color: lightgoldenrodyellow;
}
.status_pagamento_notif {
    background-color: lightgoldenrodyellow;
}

#registrarInteresse {
    background-color: green;
    width: 100%;
} 

#cancelarInteresse {
    background-color: red;
    width: 100%;
}