body {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 200px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 40px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: darkgreen;
}

form > * {
    margin-bottom: 15px;
}

.consulta-leiloes > *, .notificacoes-leiloes > * {
    margin-bottom: 15px;
}

.meio-a-meio {
    display: flex;
    justify-content: space-between;
}
.meio1, .meio2 {
    width: 48%;
}

#registrarInteresse {
    background-color: green;
    width: 100%;
} 

#cancelarInteresse {
    background-color: red;
    width: 100%;
}